@model IEnumerable<API.Models.Users>

@{
    ViewData["Title"] = "List";
    Layout = "_ManagerLayout";
}

<h1>List Users</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.user_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone_number)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone_number)
            </td>
                <td>
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.user_code }, new { @class = "btn btn-outline-success" })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.user_code }, new { @class = "btn btn-outline-danger" })
                </td>
        </tr>
}
    </tbody>
</table>
